/* здесь используйте глобальные переменные */


// Font
$primary-font--basic: "Lato", "Arial", sans-serif;
$primary-font--second: "Oswald", "Arial", sans-serif;

// Color
$base-color--background: #ffffff;
$base-color--text: #000000;
$second-color--text: #ffffff;

$button-color--bg-basic: #68b738;
$button-color--bg-second: #f2f2f2;
$button-color--text: #ffffff;

$text-color--first: #111111;
$text-color--second: #222222;
$text-color--third: #444444;

$background--dark: #68b738;
