/* здесь используйте глобальные переменные */

// Font
$primary-font--basic: "Lato", "Arial", sans-serif;
$primary-font--second: "Oswald", "Arial", sans-serif;

// Color
$base-color--background: #ffffff;

$text-color--base: #444444;
$text-color--light: #ffffff;
$text-color--dark-0: #000000;
$text-color--dark-1: #111111;
$text-color--dark-2: #222222;

$button-color--bg-basic: #68b738;
$button-color--bg-second: #f2f2f2;
$button-color--text: #ffffff;

$background--dark: #68b738;
$background--gradient: #46454a;

$background--gradient-left: #4d4c52;
$background--gradient-right: #3f3e43;
$background--gradient-desktop: #65a83e;

$background--content: #f2f2f2;
$background--slider: #eaeaea;

$color--line: #e6e6e6;
$color--line-catalog-1: #ebebeb;
$color--line-catalog-2: #cdcdcd;


$color-icons: #666666;
$color-icons--hover-focus-active: #68b738;
$color-plus: #d3d3d3;
$color-toggle: #5eaa2f;
$color-line: #d9d9d9;

$color-form-1: #e7e7e7;
$color-form-2: #ff8282;

// media
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// padding-container
$padding-mobile: 20px;
$padding-tablet: 30px;
$padding-desktop: 40px;
