.button {
  display: inline-block;
  background-color: $button-color--bg-basic;
  border: 0;
  font-family: $primary-font--second;
  font-weight: 400;
  color: $button-color--text;
  text-transform: uppercase;
  text-decoration: none;
}

.button--style:hover,
.button--style:focus-visible {
  background-color: $color-toggle;
}

.button--style:active {
  color: rgba($text-color--light, 0.3);
}
