.card__item {
  border-top: 1px solid $color--line-catalog-1;
  width: 100%;

  @media (min-width: $tablet-width) {
    border: none;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.card__item--more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // height: calc(100% - 81px);
  width: 100%;
  padding: 25px 0;

  border-bottom: 1px solid $color--line-catalog-1;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin-top: 81px;
    padding: 0;
    border: 2px solid $background--content;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

// .card__item--more::before {
//   content: "";
//   display: block;
//   margin-bottom: 23px;
//   width: 30px;
//   height: 30px;
//   background:
//     linear-gradient($color-plus, $color-plus),
//     linear-gradient($color-plus, $color-plus);
//   background-position: center;
//   background-size: 50% 2px, 2px 50%; /* thickness = 2px, length = 50% (25px) */
//   background-repeat: no-repeat;

//
//     width: 60px;
//     height: 60px;
//   }
// }
