.contacts__container {
  @media (min-width: $desktop-width) {
    padding: 0 $padding-desktop;
    margin: 0 auto;
    width: 1300px;
    position: relative;
  }
}

.contacts__container--catalog {
  background-color: $background--content;
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 140px 140px;
  justify-content: space-around;

  max-width: 87%;
  margin: 0 auto;
  padding-bottom: 26px;
  padding-top: 26px;

  @media (min-width: $tablet-width) {
    padding: 61px 70px;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 79px;
    position: absolute;
    background-color: $base-color--background;
    width: 565px;
    top: 95px;
  }
}

.contacts__title {
  margin: 0;

  font-family: $primary-font--second;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $text-color--dark-1;
  text-transform: uppercase;

  width: min-content;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}


.contacts__address {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $text-color--base;


  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: right;
    width: max-content;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.contacts__street-house {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 18px;
  }
}

.contacts__city {
  margin: 0;
}

.contacts__map-wrapper {
  height: 362px;
  background-image:
    image-set(
      url("../../images/map--mobile@1x.webp") type("image/webp") 1x,
      url("../../images/map--mobile@2x.webp") type("image/webp") 2x,
      url("../../images/map--mobile@1x.png") type("image/png") 1x,
      url("../../images/map--mobile@2x.png") type("image/png") 2x
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image:
      image-set(
        url("../../images/map--tablet@1x.webp") type("image/webp") 1x,
        url("../../images/map--tablet@2x.webp") type("image/webp") 2x,
        url("../../images/map--tablet@1x.png") type("image/png") 1x,
        url("../../images/map--tablet@2x.png") type("image/png") 2x
      );
  }

  @media (min-width: $desktop-width) {
    height: 400px;
    background-image:
      image-set(
        url("../../images/map--desktop@1x.webp") type("image/webp") 1x,
        url("../../images/map--desktop@2x.webp") type("image/webp") 2x,
        url("../../images/map--desktop@1x.png") type("image/png") 1x,
        url("../../images/map--desktop@2x.png") type("image/png") 2x
      );
    background-size: contain;
    min-height: 400px;
  }
}

.contacts__map {
  display: block;
  border: 0;
  width: 100%;
  min-height: 362px;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}
