.intro {
  margin-bottom: 52px;

  background-color: $background--gradient-left;
  background-image:
    linear-gradient(to top, $base-color--background 0, $base-color--background 146px, rgba($background--dark, 0.85) 146px, rgba($background--dark, 0.85) 100%),
    image-set(
      url("../../images/intro-bg--mobile@1x.webp") type("image/webp") 1x,
      url("../../images/intro-bg--mobile@2x.webp") type("image/webp") 2x,
      url("../../images/intro-bg--mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../images/intro-bg--mobile@2x.jpg") type("image/jpeg") 2x
    );
  background-repeat: no-repeat;
  background-position: top;

  @media (min-width: $tablet-width) {
    background-color: $base-color--background;
    background-image: none;
    min-height: 872px;
    margin-bottom: -33px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    background-color: inherit;
    min-height: 647px;
  }
}


.intro__title {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;
  font-family: $primary-font--second;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $text-color--light;


  @media (min-width: $tablet-width) {
    margin: 0 89px;
    padding-top: 51px;
    padding-bottom: 41px;

    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: $text-color--dark-0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 97px;
    padding-bottom: 40px;
    margin: 0 80px;
    width: 46%;
  }
}

.intro__text {
  margin: 0;
  // padding-bottom: 29px;
  font-family: $primary-font--second;
  // font-size: 14px;
  line-height: 14px;
  color: $text-color--light;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 89px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    color: $text-color--dark-0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 80px;
  }
}

.intro__button {
  position: relative;
  width: 100%;
  top: 302px;
  left: 0;
  right: 0;
  padding: 10px 20px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0 89px;
    padding: 14px 28px;
    top: 49px;
    z-index: 2;

    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 80px;
    top: 51px;
  }
}

.intro__button:hover,
.intro__button:focus-visible {
  background-color: $color-toggle;
}

.intro__button:active {
  color: rgba($text-color--light, 0.3);
}

.intro__wrapper-img {
  position: relative;
}

.intro__img {
  position: relative;
  display: block;
  margin: 0 auto;
  top: -11px;

  @media (min-width: $tablet-width) {
    top: -34px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -317px;
    left: 448px;
    z-index: 1;
  }
}

// .intro__img {
//   display: block;
//   text-align: center;
//   margin: 0 auto;

//   @media (min-width: $tablet-width) {
//     position: absolute;
//     bottom: 0;
//   }

//   @media (min-width: $desktop-width) {
//     top: 143px;
//     right: 331px;
//   }
// }
