.intro {
  background-color: $background--gradient;
  background-image:
    linear-gradient(to top, $base-color--background 0, $base-color--background 178px, rgba($background--dark, 0.85) 178px, rgba($background--dark, 0.85) 100%),
    image-set(
      url("../../images/intro-bg--mobile@1x.jpg") type("image/png") 1x,
      url("../../images/intro-bg--mobile@2x.jpg") type("image/png") 2x
    );
  background-repeat: no-repeat;
  background-position: top;

  @media (min-width: $tablet-width) {
    background-color: $base-color--background;
    background-image: none;
    min-height: 875px;
  }

  @media (min-width: $desktop-width) {
    background-image:
      linear-gradient(to top, $base-color--background 0, $base-color--background 178px, rgba($background--dark, 0.85) 178px, rgba($background--dark, 0.85) 100%),
      image-set(
        url("../../images/intro-bg--desktop@1x.jpg") type("image/png") 1x,
        url("../../images/intro-bg--desktop@2x.jpg") type("image/png") 2x
      );
    background-repeat: no-repeat;
    background-size: 720px 694px;
    background-position: right;
  }
}


.intro__title {
  font-family: $primary-font--second;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $second-color--text;
}

.intro__text {
  font-family: $primary-font--second;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: $second-color--text;
}

// .intro__img {
//   display: block;
//   text-align: center;
//   margin: 0 auto;

//   @media (min-width: $tablet-width) {
//     position: absolute;
//     bottom: 0;
//   }

//   @media (min-width: $desktop-width) {
//     top: 143px;
//     right: 331px;
//   }
// }
