.main-nav__toggle {
  padding: 0;
  background-color: #ffffff;
  border: 0;
  width: 24px;
  height: 24px;
}

.main-nav__toggle::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-color: $base-color--text;
  mask-image: url("../../icons/stack.svg#menu--toggle");
  mask-size: 24px 24px;
  mask-position: center;
  mask-repeat: no-repeat;
}
