.main-footer {
  background-color: $button-color--bg-second;
  padding-top: 20px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding: 57px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0 70px;
  }
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.main-footer__wrapper > * {
  width: 100%;
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 1px solid $color-line;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.main-footer__wrapper:last-child {
  border-bottom: none;
}


.main-footer__logo-name-link {
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    text-align: left;
  }
}

.main-footer__logo-name-link:hover,
.main-footer__logo-name-link:focus {
  opacity: 0.7;
}

.main-footer__logo-name-link:active {
  opacity: 0.6;
}

.main-footer__socials {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 24px;

  padding-top: 21px;


  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-right: 128px;
  }
}

.main-footer__dev-wrapper {
  max-width: 280px;
  border: none;
}

.main-footer__dev {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: $text-color--base;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    justify-content: flex-start;
    gap: 23px;
    align-items: center;
  }
}

.main-footer__dev-logo {
  fill: $color-icons;
}

.main-footer__dev[href]:hover .main-footer__dev-logo {
  opacity: 1;
  fill: $color-icons--hover-focus-active;
}

.main-footer__dev[href]:focus .main-footer__dev-logo {
  opacity: 1;
  fill: $color-icons--hover-focus-active;
}

.main-footer__dev[href]:active {
  opacity: 0.3;
}

.main-footer__dev-name {
  margin: 0;
}

.main-footer__wrapper-local {
  @media (min-width: $tablet-width) {
    padding-top: 5px;
  }
}
