// Кнопка
.main-nav__toggle {
  --padding-mobile: 20px;

  position: absolute;
  display: block;
  top: 7px;
  right: var(--padding-mobile);
  z-index: 9;
  padding: 0;
  background-color: $base-color--background;
  border: 0;
  width: 24px;
  height: 24px;
  mask-position: center;
  mask-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle:hover,
.main-nav__toggle:focus {
  opacity: 0.5;
}

.main-nav__toggle:active {
  opacity: 0.2;
}

.main-nav {
  width: 100%;
}

// Меню


// закрытие, открытие, без js

.main-nav--open .main-nav__toggle::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-color: $text-color--dark-0;
  mask-image: url("../../icons/stack.svg#menu-toggle--open");
  mask-size: 24px 24px;
}

.main-nav--open .main-nav__list {
  display: none;
}

.main-nav--close .main-nav__toggle::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 6px;
  background-color: $text-color--dark-0;
  mask-image: url("../../icons/stack.svg#menu-toggle--close");
  mask-size: 20px 20px;
}

.main-nav--close .main-nav__list {
  position: absolute;
  width: 100%;
  top: 56px;
  left: 0;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    position: static;
  }
}

.main-nav--no-js {
  display: block;
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}

