// .main-header {
//   position: relative;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   align-items: center;
// }

.main-header__container {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // vertical-align: middle;
  // margin-bottom: 14px;

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.main-header__logo-link {
  --padding-mobile: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 13px;
  min-width: 190px;
  text-decoration: none;
  margin-bottom: 14px;

  padding-left: var(--padding-mobile);
}

.main-header__logo-link:hover,
.main-header__logo-link:focus {
  opacity: 0.8;
}

.main-header__logo-link:active {
  opacity: 0.6;
}


.main-header__logo-icon {
  width: 33px;
  height: 38px;
}

.main-header__logo-name {
  margin-left: 56px;
}
