.section-title-index {
  font-family: $primary-font--second;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $text-color--dark-0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}
