.sideline-item {
  @media (min-width: $tablet-width) {
    padding: 25px 38px 28px;
    border-bottom: 1px solid $color--line-catalog-2;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 18px;
  }
}

.sideline-item__category {
  margin: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  border-top: 1px solid $color--line-catalog-2;

  font-family: $primary-font--second;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $text-color--dark-2;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    border: none;
    padding: 0 0 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.sideline-item__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 2px;
    gap: 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-left: auto;
    margin-right: 40px;
    padding-top: 6px;
    gap: auto;
    width: 285px;
  }
}

.sideline-item__number,
.sideline-item__price {
  margin: 0;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.sideline-item__price {
  @media (min-width: $tablet-width) {
    min-width: 41px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}


.sideline-item__button {
  font-size: 16px;
  line-height: 20px;

  width: 100%;
  padding: 10px 20px;

  font-family: $primary-font--second;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.sideline__list > .sideline__item:last-child {
  border-bottom: 1px solid $color--line-catalog-2;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
