.site-list__link {
  display: block;
  padding: 22px 10px 23px;
  font-family: $primary-font--second;
  font-size: 20px;
  line-height: 20px;
  color: $text-color--dark-0;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid  $color--line;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    // color: $text-color--light;
    color: $text-color--dark-0;
  }
}

.site-list__link:hover,
.site-list__link:focus {
  opacity: 0.7;
}

.site-list__link:active {
  opacity: 0.3;
}

