.stats__text {
  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.stats__number {
  font-family: $primary-font--second;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color--dark-0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.stats__description {
  font-size: 12px;
  line-height: 12px;
  color: $text-color--base;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.stats__item:last-child .stats__number,
.stats__item:last-child .stats__description {
  font-family: $primary-font--second;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $text-color--dark-0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
