.stats {
  padding-bottom: 40px;
  background-color: $background--slider;

  @media (min-width: $tablet-width) {
    background-color: $base-color--background;
    padding-bottom: 100px;

    background-image: linear-gradient(to top, $background--slider 0, $background--slider 461px, $base-color--background 461px, $base-color--background 100%);
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 505px 560px;
    gap: 151px;
    background-image: linear-gradient(to bottom, $base-color--background 0, $base-color--background 136px, $background--slider 136px, $background--slider 100%);

    justify-content: center;
    padding: 0 $padding-desktop;
    padding-bottom: 74px;
    margin: 0 auto;
  }
}


.stats__container {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 104px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-left: -42px;
  }
}


.stats__title {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding: 0 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 146px;
    width: 82%;
  }
}

.stats__text {
  margin: 0;
  padding-bottom: 19px;

  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 68px;
    width: 36%;
  }
}


.stats__list {
  display: grid;
  gap: 20px 32px;
  grid-template-columns: 124px 124px;
  grid-template-rows: auto auto;
  justify-content: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 43px;
    max-width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    flex-wrap: wrap;
    max-width: 370px;
    gap: 62px 43px;
  }
}

.stats__item:not(:last-child) {
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 13px 5px 0;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 162px;
    padding-top: 15px;
  }
}

.stats__item:last-child {
  grid-column: 1 / 3;

  margin-top: 14px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 3px;


  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 8px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 65px;
  }
}

.stats__item:nth-last-child(2) {
  @media (min-width: $tablet-width) {
    margin-right: auto;
  }
}


.stats__number {
  padding-bottom: 17px;

  font-family: $primary-font--second;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color--dark-0;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 18px;
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    background-color: $background--slider;
  }
}

.stats__description {
  position: absolute;
  top: 46px;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
  padding: 0 7px;

  font-size: 12px;
  line-height: 12px;
  color: $text-color--base;
  text-align: center;
  background-color: $background--slider;

  @media (min-width: $tablet-width) {
    background-color: $base-color--background;
    top: 63px;
    padding: 0 9px;
    width: max-content;

    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    background-color: $background--slider;
  }
}

.stats__item:last-child .stats__number,
.stats__item:last-child .stats__description {
  font-family: $primary-font--second;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $text-color--dark-0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.stats__item:last-child .stats__number {
  padding-bottom: 0;
  position: static;

  @media (min-width: $tablet-width) {
    position: static;
  }
}

.stats__item:last-child .stats__description {
  position: static;
  transform: translate(0%);
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    position: static;
    transform: translate(0%);
    padding: 0;
  }
}
